$background: #111;
$grid: #222;
$highlight: #0f0;
$menu: $highlight;
// $breakpoint: 860px;

@mixin font() {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  @include font();
  min-width: 1340px;
  padding: 0;
  margin: 0;
  background-color: $background;
  background-image: url('../assets/bg.jpg');
  overflow: hidden;
}

* {
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: $grid;

  .icon {
    display: block;
    color: $highlight;
    cursor: pointer;
  }

  .header-left {
    display: flex;

    .initialStates {
      display: flex;
      align-items: center;
      padding: 0 20px;

      div {
        @include font();
        color: $menu;
        padding: 0 5px;
        cursor: pointer;
      }
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;

  .cell {
    width: 1%;
    height: 0;
    padding-bottom: 1%;
    border-right: 1px solid $grid;
    border-bottom: 1px solid $grid;

    &.live {
      background-color: $highlight;
    }

    // &.ghost {
    //   background-color: rgba($highlight, 0.2);
    // }
  }
}
